@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: #fff;
  line-height: 1.33;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: transparent;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label,
input,
textarea {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 1050px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  background-color: #8fc9f0;
  padding: 15px;
  border-radius: 6px;
  /* min-height: 600px; */
  min-height: calc(85vh);
}

.Loader {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  /* width: 50%; */
}
